PORT=3000

MONGODB_URI=mongodb://coworking_dev:teamnaymanh@ac-nvmhjbh-shard-00-00.yztx7rq.mongodb.net:27017,ac-nvmhjbh-shard-00-01.yztx7rq.mongodb.net:27017,ac-nvmhjbh-shard-00-02.yztx7rq.mongodb.net:27017/coworking_db?ssl=true&replicaSet=atlas-41pnpb-shard-0&authSource=admin&appName=CoWorkingCluster

SESSION_SECRET=workhub-dev-secret-change-me
NODE_ENV=development
JWT_SECRET=Thay_Mot_Chuoi_Ki_Tu_Bat_Ky_Cuc_Ky_Dai_Va_Kho_Doan_Vao_Day_Nhe_2026

CLOUDINARY_CLOUD_NAME=dctm6mzn6
CLOUDINARY_API_KEY=671247614879244
CLOUDINARY_API_SECRET=D-P-V8J8HTyHbIHYBbuv5QIRDdM
