 PORT=3000
MONGODB_URI=mongodb://coworking_dev:<Matkhau>@ac-nvmhjbh-shard-00-00.yztx7rq.mongodb.net:27017,ac-nvmhjbh-shard-00-01.yztx7rq.mongodb.net:27017,ac-nvmhjbh-shard-00-02.yztx7rq.mongodb.net:27017/coworking_db?ssl=true&replicaSet=atlas-41pnpb-shard-0&authSource=admin&appName=CoWorkingCluster
NODE_ENV=development